#ways-to-give{
  li{ margin-top: 10px; }
  p{ margin-top: 20px; }
  h4{ margin-top: 24px; }
}

@media screen and (max-width: 767px) {
  #ways-to-give ul {
    list-style: none;
    padding-left: 0;
  }
}
