// Specific CSS for your home-page
.carousel-row{
  // height: 700px;
  // overflow: none;
}

.blue-text{
  color: $blue;
}

.item{
  height: calc(100vh - 140px);
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.location-btn{
  margin: 45px;
  padding: 9px 26px 0;
  border-radius: 6px;
}

.clickable-carousel:hover{
    text-decoration: none;
}

.carousel-item{
  // height: calc(100vh - 70px);
  width: 100%;
  background-size: cover;
  background-position: center;
}


.main-heading{
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
  color: white;
  margin: 0 0 10px;
}

.carousel-sub-heading{
  text-align: center;
  color: white;
  background: #000000a6;
  width: 600px;
  margin: 0 auto;
  padding: 13px;
}

.event-box{
  h3{
    font-size: 30px;
    text-align: center;
    padding-top: 200px;
     }
}

.watercolor{
  height: 900px;
}
