// Specific CSS for your home-page
.home-container{
  min-height: 400px;
}

.blue-text{
  color: $blue;
}
.item{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.location-btn{
  margin: 45px;
  padding: 9px 26px 0;
}

.clickable-carousel:hover{
    text-decoration: none;
}

.carousel-item{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.main-heading{
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
  color: white;
  margin: 0;
}

.carousel-sub-heading{
  text-align: center;
  color: white;

}

