.media-container{
  width: 700px;
  height: 582px;
  margin: 127px auto;
}

.nav-tabs{
  margin: 45px 0;
}

.sound-cloud{
  margin: 50px;
  text-align: center;
  h3{
    margin: 30px 0;
  }
}

.recent-talks-video{
  margin: 50px 0;
  text-align: center;
}

