.pt {
  padding-top: 50px;

  h3 { margin-top: 0; }
}

.img-responsive{
  margin-top: 9px;
}

.img-accordion {
  float: left;
  margin-right: 15px;
  width: 200px;
}

@media screen and (max-width: 450px) {
  .img-accordion {
    margin: 0 auto 10px;
    display: block;
    float: none;
  }
}

@media screen and (max-width: 767px) {
  #core-council ul {
    list-style: none;
    padding-left: 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .img-responsive {
    margin: 9px auto;
    width: 100%;
    max-width: 320px;
  }
}
