.youth-section-home-container{
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding: 80px;
}

.youth-section-row{
  margin-top: 60px;
  width: 600px;
  margin: 0 auto;
  padding: 60px;
  background: #000000a6;
}
