<div class="footer">
  <div class="footer-links">
    <div class="footer-contact">
      <h6>CONTACT US</h6>
      <div class= "location-phone">
        <a href="tel:9702241206" class="foot-phone"> Phone: (970) 224-1206</a>
      </div>
      <div>
        <a href="email:info@newthoughtnoco.org" class="foot-email"> Email: info@newthoughtnoco.org</a>
      </div>
        <div class="location-links">
          <a href="https://www.facebook.com/NTNCCSL/" target= "_blank"><i class="fa fa-facebook"></i></a>
      </div>
  </div>
  <%= link_to "http://www.amyhogue.com/",  target: :_blank do %>
    <div class="yam-footer">
      <p>Powered By</p>
      <%= image_tag("yam.png")%>
      <p>Yam</p>
    </div>
  <% end %>
</div>

