<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="tel:3033458423" class="foot-phone"> Phone: 303-345-8423</a>
  </div>
  <%= link_to "http://www.amyhogue.com/",  target: :_blank do %>
    <div class="yam-footer">
      <p>Powered By</p>
      <%= image_tag("yam.png")%>
      <p>Yam</p>
    </div>
  <% end %>
</div>

