<div class="location" id="location">
  <div class="location-container">

    <div class="location-box">
      <div class="find-us-box">
        <h6>FIND US</h6>

        <div class="location-address">
          <div class="location-sanctuary">
            <p class= "blue-text">NEW MAILING ADDRESS:</p>
            <p>New Thought NoCo CSL</p>
            <p>1281 E. Magnolia St., Unit D-263.</p>
            <p>Fort Collins, CO. 80524</p>
          </div>
        </div>
        <h6>SUNDAY SERVICE: 10 am - 11:15</h6>
      </div>

      <div class="location-service-times">
      <%= render 'newsletter_form' %>
      </div>
    </div>

  </div>

</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.152353004109!2d-105.05834108459901!3d40.58239237934615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87694ae82cb628e5%3A0x6f49c1abc5e871e2!2s1281%20E%20Magnolia%20St%2C%20Fort%20Collins%2C%20CO%2080524%2C%20USA!5e0!3m2!1sen!2smx!4v1596382666848!5m2!1sen!2smx" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
