<div class="location">
  <div class="location-container">

    <div class="location-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.9711057543454!2d-104.99885778460431!3d40.40949087936599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876ea2280195139b%3A0x13ce87be6d787de4!2sNew+Thought+Northern+Colorado+Center+for+Spiritual+Living!5e0!3m2!1sen!2smx!4v1529516627168" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="location-box">
        <h6>FIND US</h6>
      <div class="location-address">
        <div>
          <p>Sanctuary Address:</p>
          <p>5628 McWhinney Blvd.</p>
          <p>Loveland, CO. 80538 </p>
        </div>
        <div>
          <p>Office Address:</p>
          <p>5636 McWhinney Blvd.</p>
          <p>Loveland, CO. 80538</p>
        </div>
      </div>
      <p>In The Outlets at Loveland, between Nike and Bose</p>
    </div>

    <div class="location-contact">
      <h6>CONTACT US</h6>
      <div class= "location-phone">
        <a href="tel:9702241206" class="foot-phone"> Phone: (970) 224-1206</a>
      </div>
      <div>
        <a href="email:info@newthoughtnoco.org" class="foot-email"> Email: info@newthoughtnoco.org</a>
      </div>
        <div class="location-links">
          <a href="https://www.facebook.com/NTNCCSL/" target= "_blank"><i class="fa fa-facebook"></i></a>
      </div>
    </div>

  </div>
</div>
