
<h3 id="practitioners">Practitioners</h3>
<p>
  Spiritual Practitioners are prayer partners who provide loving and prayerful support both in challenging times and for the realization of your dreams.  They are dedicated to knowing your Oneness with God.  They will help you use spiritual principles, meditation, visioning and spiritual treatment (affirmative prayer), to make positive changes in your life.
</p>
<p>
  Our Practitioners are licensed to practice professionally by Centers for Spiritual Living.  They have completed extensive coursework, passed written and oral examinations, and have actively demonstrated their understanding of New Thought principles.  They are committed to their personal spiritual practice and to service in our NTNC community.
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          JALEIN ARNOLD, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <p>
         Jalein Arnold followed New Thought teaching for more than thirty years, in both Unity and Science of Mind.  She became a Practitioner in 2015 and served on the Core Council and as Visioning Chair for several years.  She and her husband live in Greeley with their two cats.  She is retired and works part-time in Senior Peer Counseling and she has experience working with recovery from addictions and grief.
       </p>
       <p>
         She knew when I came to this Center that she had found her spiritual home and family.  “What a joy to be in community with like-minded people!”  She knows that her purpose is to serve and be helpful in any way she can.  God consciousness guides her, Divine Love connects her with others, and faith sustains her.  She values unconditional acceptance, freedom from judgment, mindfulness, and honesty.
       </p>
       <p>
         Her passion is Visioning- for NTNC, groups and individuals.  Visioning is a spiritual practice that opens one’s connection with Spirit and seeks Divine Guidance regarding one’s calling and/or a specific aspect of life.  We all envision what we want in life.  Visioning goes deeper by asking for God’s highest idea of our good.
       </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          KELLI BAKER, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>
          Kelli Baker is a Kansas City, Missouri, native and has been a member of the Centers for Spiritual Living community since 2012. Kelli retired from the US Army as a Sergeant First Class, has a Bachelor degree in Business Management and a Master degree in Human Nutrition and Functional Medicine. She often visited the Rocky Mountains with her family as a child and knew this is where she wanted to live. Kelli is married and lives on a farm with her chickens, cat (Dax) and dog (Roscoe).
        </p>
        <p>
          Kelli became a Science of Mind Practitioner in 2017 and finds joy in improving lives through prayer and service. Kelli’s favorite motto is a quote attributed to Ghandi, “be the change” and she uses this as her motivation to continually grow. She uses the teaching of Ernest Holmes to bring love, hope and happiness to those who seek more vibrant lives.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          JONIE CARSON, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       <p>
         Jonie often sighs, “Life is good.” and is quite amazed by the way that Life flows and how seemingly random experiences really are (with hind sight/true sight) God’s perfection in action.
       </p>
       <p>
         Jonie grew up in rural Nebraska (go Huskers!) on a farm. It was a very peaceful upbringing, with time spent reading, on horseback, climbing in the trees by the river, tending to a huge garden or “putting up” the fruits and veggies that came from said garden. Today, she and her husband, Matt, have a small acreage and enjoy working on the property and growing beautiful flowers. New Thought philosophy has brought her tools to access that peace even when she is not in the immediate surroundings of nature.
       </p>
       <p>
         Jonie found New Thought by going to church with a friend she was visiting for the weekend. She then pursued finding a New Thought church in her area. She has attended several different New Thought churches as she moved around the country teaching elementary school. In time, she settled into the Creative Center for Spiritual Living community in Greeley and jumped into taking the abundance of classes that are offered through CSL. Eventually the growth that she was experiencing in the classes led to the pursuit of becoming a practitioner. She is very blessed to serve the New Thought Northern Colorado community in this role. Mindfulness techniques to enhance our ability to live well and thrive is one of her main spiritual interests.
       </p>
       <p>
         Jonie’s other activities and interests are varied. She has been a teacher in the public schools for 22 years, serving diverse populations and specializing on supporting students who speak more than one language. She is fluent in Spanish and has enjoyed learning the language and traveling to Spanish speaking countries to enrich her fluency. Often, she can be found curled up reading (or cleaning up the many piles of books around the house). One of her most sacred goals is a lifelong openness to and enjoyment of learning new things.
       </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          TARYN CARWYN, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p>
          Taryn came to New Thought as a teenager and found a true spiritual home with people who thought and lived as she did. Finally, there was a name for her beliefs and practices that she had already been doing for years.
        </p>
        <p>
          Taryn has five wonderful children and a loving partner, Mark.   Together they have created and founded the Rainbow Scouts youth program for NTNC.  Taryn practices daily prayer and mediation with her children and loves working with other families to support them on their spiritual journey.  Taryn has a masters degree in Transpersonal Counseling Psychology and 17 years of counseling experience.
        </p>
        <p>
          Taryn is very inclusive in all that she does.  She is not only accepting but competent in working with a wide range of people and backgrounds.  She is an advocate for individuals, families and relationships of all kinds.  She is an active member of the Poly Leadership Network, American Society of sex educators, counselors and therapists(ASSECT), Kink Aware Professionals(KAP), and many various LGBTQ and diversity awareness groups.
        </p>
        <p>
          Taryn loves working with families of all kinds.  She specializes in working with relationships:  relationships with our partners, our children and ourselves.  She offers practitioner sessions both in person and available through a secure video connection online, so that it is available wherever you are.  She works with individuals, relationships, kids and families.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          DEBRA J DAWKINS, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <p>
          Debra J., a Fort Collins, CO, native, started on the spiritual path of Religious Science 12 years ago. She began taking Science of Mind core classes at Whole Life Church in Fort Collins six years ago and completed her practitioner training at New Thought No Co in July 2017. She serves in multiple roles at NTNC, including building manager, volunteer coordinator, and core council president. In addition, she has led a spiritual discussion group for the past 1-1/2 years and currently facilitates a women’s group.
        </p>
        <p>
          Debra J. has worked as a hairdresser for 41 years and has two adult children. She shares her love of interior decorating and home design with her daughter and her love of movies with her son. She also enjoys live concerts at Red Rocks.
        </p>
        <p>
          As a Religious Science practitioner, Debra J. has always known that something greater is calling her and that knowing has led her on her spiritual journey. She is inspired by the idea that the practitioner can always see the divine potential in every individual, and she is passionate about helping others learn self-empowerment from the inside out.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Name
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <p>
          Kelli Baker is a Kansas City, Missouri, native and has been a member of the Centers for Spiritual Living community since 2012. Kelli retired from the US Army as a Sergeant First Class, has a Bachelor degree in Business Management and a Master degree in Human Nutrition and Functional Medicine. She often visited the Rocky Mountains with her family as a child and knew this is where she wanted to live. Kelli is married and lives on a farm with her chickens, cat (Dax) and dog (Roscoe).
        </p>
        <p>
          Kelli became a Science of Mind Practitioner in 2017 and finds joy in improving lives through prayer and service. Kelli’s favorite motto is a quote attributed to Ghandi, “be the change” and she uses this as her motivation to continually grow. She uses the teaching of Ernest Holmes to bring love, hope and happiness to those who seek more vibrant lives.
        </p>
      </div>
    </div>
  </div>
</div>
