<h3 id="staff">Staff</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          DEBRA J DAWKINS – VOLUNTEER COORDINATOR / FACILITIES MANAGER
        </a>
      </h4>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
      <div class="panel-body">
        <p>
          As Volunteer Coordinator Debra J oversees the volunteer program and supports the team leaders. She is the liaison and communicator between all the volunteer team leaders and Minister. She assists leadership teams when they need volunteers for special projects and events and she ensures the Health and Vibrancy of the Volunteer Program by focusing on the purpose of New Thought NoCo to “Love everybody up.”
        </p>
        <p>
          Debra J makes sure New Thoughts Building is in perfect operating order.  From hanging banners, creating chalk boards, building doorways or changing filters, Debra J gets the job done as New Thought NoCo’s Building Supervisor.
        </p>
        <p>
          Debra J serves as Co-President on the Core Council and will finish her training to be a practitioner this spring. In her spare time she enjoys concerts at Red rocks Amphitheater, working in her yard, and taking road trips and watching movie marathons with her son.  Debra J is a Cosmetologist by trade.  Dedication and loyal best describes Debra J.
       </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFourteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          TAWNEY BASS – OFFICE ADMINISTRATOR
        </a>
      </h4>
    </div>
    <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
      <div class="panel-body">
        <p>
          Tawney birthed me
        </p>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFifteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
          CAT LYNN – MEDIA MANAGER
        </a>
      </h4>
    </div>
    <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
      <div class="panel-body">
       <p>
         Cat gets creative with our social media and presentations for services. She was drawn to New Thought ideas all her life, and felt like she had found her home at a previous incarnation of New Thought Northern Colorado. She has a big family, and leans into Nutrition, Energy and other Holistic Healing methods. She loves putting into practice what she learns from classes, all forms of media, her family and community, and (of course) Sunday mornings at NTNC!
       </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSixteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          AMBER DAVIDSON
        </a>
      </h4>
    </div>
    <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
      <div class="panel-body">
        <p>
          Amber has led operations, fundraising and constituent engagement for churches and non-profit organizations and has directed celebrity speaking and performing events for thousands of attendees, orchestrated volunteer engagement activities, and run highly successful fundraising auctions and events.
        </p>
        <p>
          She was COO of a non-profit organization building self-esteem for women and girls and the owner of three businesses. She founded the Carolers Inc. talent agency specializing in holiday entertainment and the Towne & Lamplight Carolers, which would grow to become the largest caroling company in California. She owned and managed a boutique rental company offering elaborate theatrical, historical, and cultural costumes and couture vintage fashion and she had a successful private studio where she taught voice and speech.
        </p>
        <p>
          Amber has served as professional music director, choir conductor, and/or singer for many denominations of church, spiritual center and synagogue. Adept in multiple musical styles, Amber was a principal member of Opera A La Carte (professional national touring opera company,) an award-winning oratorio and concert soloist, a musical theater actress, a rhythm and blues back-up singer, and a New Age ensemble singer.
        </p>
      </div>
    </div>
  </div>
</div>
