<h3>Staff</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThirteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          TAWNEY BASS – OFFICE ADMINISTRATOR
        </a>
      </h4>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
      <div class="panel-body">
        <%= image_tag 'staff/tawney-bass.jpg', class: 'img-accordion' %>
        <p>
          As a “Mom” at heart, Tawney just found a big family to care for and a way to get paid for it. She loves creating a bulletin each week, playing with pictures and colors, and figuring out what people would like to know. She even loves to maintain the database of member/attendee information, send out the newsletter, answer calls and emails, and do any other tasks that spread NTNC’s care to all who are interested.
        <p>
        </p>
          Tawney has her B.A. in Nonprofit Administration, and has many years of experience with nonprofit organizations. She started as a volunteer and secretary of the board of directors for ARC/Adams County in the early eighties. She has been involved in many nonprofits ever since that time, including the Zimbabwe Education Project, Share Colorado, a couple of Presbyterian churches, a Quaker Meeting, Jefferson Center for Mental Health, and many others. Most recently, Tawney was the Administrative Director for Aurora Mental Health Center, and the President of the National Alliance on Mental Illness (NAMI)/Aurora. Tawney is currently a co-coordinator of the Community Caregivers Award program in Cheyenne, which acknowledges individuals who provide outstanding care to those who need it most.
        <p>
        </p>
          Tawney is a Notary Public, and she can notarize documents any time that she is in the office. She asks for a suggested donation of $5 to NTNC for this service
        </p>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFourteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          AMBER DAVIDSON - EXECUTIVE DIRECTOR
        </a>
      </h4>
    </div>
    <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
      <div class="panel-body">
        <%= image_tag 'staff/amber-davidson.jpg', class: 'img-accordion' %>
        <p>
          Amber has led operations, fundraising and constituent engagement for churches and non-profit organizations and has directed celebrity speaking and performing events for thousands of attendees, orchestrated volunteer engagement activities, and run highly successful fundraising auctions and events.
        </p>
        <p>
          She was COO of a non-profit organization building self-esteem for women and girls and the owner of three businesses. She founded the Carolers Inc. talent agency specializing in holiday entertainment and the Towne & Lamplight Carolers, which would grow to become the largest caroling company in California. She owned and managed a boutique rental company offering elaborate theatrical, historical, and cultural costumes and couture vintage fashion and she had a successful private studio where she taught voice and speech.
        </p>
        <p>
          Amber has served as professional music director, choir conductor, and/or singer for many denominations of church, spiritual center and synagogue. Adept in multiple musical styles, Amber was a principal member of Opera A La Carte (professional national touring opera company,) an award-winning oratorio and concert soloist, a musical theater actress, a rhythm and blues back-up singer, and a New Age ensemble singer.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFifteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
          DEBRA J DAWKINS – VOLUNTEER COORDINATOR / FACILITIES MANAGER
        </a>
      </h4>
    </div>
    <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
      <div class="panel-body">
        <%= image_tag 'staff/debra-dawkins.jpg', class: 'img-accordion' %>

        <p>
          As Volunteer Coordinator Debra J oversees the volunteer program and supports the team leaders. She is the liaison and communicator between all the volunteer team leaders and the ministers. She assists leadership teams when they need volunteers for special projects and events and she ensures the Health and Vibrancy of the Volunteer Program by focusing on the purpose of New Thought NoCo to “Love everybody up.”
        </p>
        <p>
          Debra J makes sure NTNC Building is in perfect operating order.  From hanging banners, creating chalk boards, building doorways or changing filters, Debra J gets the job done as New Thought NoCo’s Building Supervisor.
        </p>
        <p>
          Debra J serves as President of the Core Council and serves as a Practitioner. In her spare time she enjoys concerts at Red Rocks Amphitheater, working in her yard, and taking road trips and watching movie marathons with her son. She is a Cosmetologist by trade. Dedicated and loyal best describe Debra J.
       </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFifteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          JIMMY EADS – MUSIC DIRECTOR
        </a>
      </h4>
    </div>
    <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
      <div class="panel-body">
        <%= image_tag '', class: 'img-accordion' %>
       <p>

       </p>
      </div>
    </div>
  </div>
</div>
