<h3 id="staff">Staff</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          DEBRA J DAWKINS – VOLUNTEER COORDINATOR / FACILITIES MANAGER
        </a>
      </h4>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
      <div class="panel-body">
        <p>
          As Volunteer Coordinator Debra J oversees the volunteer program and supports the team leaders. She is the liaison and communicator between all the volunteer team leaders and Minister. She assists leadership teams when they need volunteers for special projects and events and she ensures the Health and Vibrancy of the Volunteer Program by focusing on the purpose of New Thought NoCo to “Love everybody up.”
        </p>
        <p>
          Debra J makes sure New Thoughts Building is in perfect operating order.  From hanging banners, creating chalk boards, building doorways or changing filters, Debra J gets the job done as New Thought NoCo’s Building Supervisor.
        </p>
        <p>
          Debra J serves as Co-President on the Core Council and will finish her training to be a practitioner this spring. In her spare time she enjoys concerts at Red rocks Amphitheater, working in her yard, and taking road trips and watching movie marathons with her son.  Debra J is a Cosmetologist by trade.  Dedication and loyal best describes Debra J.
       </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFourteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          TAWNEY BASS – OFFICE ADMINISTRATOR
        </a>
      </h4>
    </div>
    <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
      <div class="panel-body">
        <p>
          Tawney birthed me
        </p>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFifteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
          CAT LYNN – MEDIA MANAGER
        </a>
      </h4>
    </div>
    <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
      <div class="panel-body">
       <p>
         Cat gets creative with our social media and presentations for services. She was drawn to New Thought ideas all her life, and felt like she had found her home at a previous incarnation of New Thought Northern Colorado. She has a big family, and leans into Nutrition, Energy and other Holistic Healing methods. She loves putting into practice what she learns from classes, all forms of media, her family and community, and (of course) Sunday mornings at NTNC!
       </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSixteen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          TARYN CARWYN, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
      <div class="panel-body">
        <p>
          Taryn came to New Thought as a teenager and found a true spiritual home with people who thought and lived as she did. Finally, there was a name for her beliefs and practices that she had already been doing for years.
        </p>
        <p>
          Taryn has five wonderful children and a loving partner, Mark.   Together they have created and founded the Rainbow Scouts youth program for NTNC.  Taryn practices daily prayer and mediation with her children and loves working with other families to support them on their spiritual journey.  Taryn has a masters degree in Transpersonal Counseling Psychology and 17 years of counseling experience.
        </p>
        <p>
          Taryn is very inclusive in all that she does.  She is not only accepting but competent in working with a wide range of people and backgrounds.  She is an advocate for individuals, families and relationships of all kinds.  She is an active member of the Poly Leadership Network, American Society of sex educators, counselors and therapists(ASSECT), Kink Aware Professionals(KAP), and many various LGBTQ and diversity awareness groups.
        </p>
        <p>
          Taryn loves working with families of all kinds.  She specializes in working with relationships:  relationships with our partners, our children and ourselves.  She offers practitioner sessions both in person and available through a secure video connection online, so that it is available wherever you are.  She works with individuals, relationships, kids and families.
        </p>
      </div>
    </div>
  </div>
</div>
