<div class="welcome-section">
  <h3>Welcome to New Thought NoCo</h3>
  <div class="welcome-video embed-responsive embed-responsive-16by9">
    <iframe src="https://www.youtube.com/embed/3Kk30Z8B6pk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="mission-vision">
    <h3>Who We Are</h3>
    <p>
      New Thought Northern Colorado Center for Spiritual Living is a spiritual center honoring all paths and faith traditions. Wherever you are on your journey, you are welcome here.
    </p>
    <p>
      We trust that God, The Universe, Spirit, your Higher Power, or what you choose to call it, supports the highest and greatest good for all. We believe that our thought creates our personal experience and that by changing the way we think, we can change our lives.
    </p>
    <p>
      If you like the teachings of: Abraham Hicks, Eckhart Tolle, Deepak Chopra, Wayne Dyer, or Oprah Winfrey’s Super Soul Sunday, you’ll be comfortable here. In our Sunday service, you might also hear readings from Ralph Waldo Emerson, The Bible, The Dali Lama, Brene Brown or Elizabeth Gilbert. We continue to learn from many teachers both contemporary and historical, and we are guided by a New Thought philosophy that values: meditation, service, the balance of giving and receiving, gratitude, and affirmative prayer.
    </p>
  </div>

</div>
