<div class="youth-section-home-container" style="background-image: url(<%= image_path "youth-section.jpg" %>)">

  <div class="youth-section-row">
    <h3>Our Youth</h3>
    <p>
      At NTNCCSL we see providing safe, accepting and compassionate space for our youth as one of our most important services.  Our youth are reminded that they are precious and awesome and that with focused intent and love they can do or be anything they want to do or be.  Our teachers are experienced, knowledgeable, loving and most of all, join the rest of us in practicing radical acceptance and inclusion.
    </p>
    <a href="/youth" class="btn btn-primary youth-button">Learn More</a>
  </div>
</div>
