<div class="container-fluid">
  <div class="row">
    <div class="banner about-img" style="background-image: url(<%= image_path('rainbow-flower.jpg')%>);">

      <div class="banner-heading">
        <h1 class= "shadow">What We Do</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= render(
    'shared/secondary_navbar',
    items: [
      { url: '#our-service', title: 'Our Service' },
      { url: '#mission-vision', title: 'Mission and Vision' },
      { url: '#what-is-nt', title: 'What is New Thought?' }
    ])
  %>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

  <div class="row pt" id="our-service">
    <div class="col-md-8 col-md-offset-2">
      <h3>Our Service</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>

  <div class="row pt" id="mission-vision">
    <div class="col-md-8 col-md-offset-2">
      <h3>Mission & Vision</h3>

      <h4>VISION:</h4>
       <p>
        We are a powerful spiritual community lovingly committed to a world of acceptance, compassion, peace and joy.
      </p>
      <p>
        One Spirit – One Community
      </p>



      <h4>MISSION:</h4>
      <p>
        Provide Spiritual tools for expanded living
      </p>
      <p>
        Create opportunities for connection and support
      </p>
      <p>
        Demonstrate gratitude and prosperity in all our activities
      </p>
      <p>
        Joyfully serve one another and our communities
      </p>

    </div>
  </div>

  <div class="row pt" id="what-is-nt">
    <div class="col-md-8 col-md-offset-2">
      <h3>Our Philosophy</h3>
      <p>
        New Thought philosophy is a compilation of ancient spiritual truths, philosophical wisdom and modern scientific discoveries.   The spiritual principles we teach and live by are very familiar to most people without them even realizing it.  You may have heard our long-standing motto: “Change Your Thinking, Change Your Life”.  New Thought is a philosophy that emphasizes positive thinking that leads to positive results.  It is a way of life that focuses on living joyfully in the present, free from fear, and knowing that God/the Universe/a power greater than ourselves is for us and not against us.
      </p>
      <p>
        We believe that God, known to many by many names and through many traditions, is an immediate Presence not only around but also within every person.  We believe that this Presence is an invisible law, force, and intelligence that governs everything in the universe. We, as individuals, endeavor to discover our immediate relationship to that Power and to become partners in its activities so that we may create lives that we love to live.
      </p>
    </div>
  </div>
</div>
