<div class="container-fluid">
  <div class="row">
    <div class="banner about-img" style="background-image: url(<%= image_path('rainbow-flower.jpg')%>);">

      <div class="banner-heading">
        <h1>What We Do</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= render(
    'shared/secondary_navbar',
    items: [
      { url: '#our-service', title: 'Our Service' },
      { url: '#mission-vision', title: 'Mission and Vision' },
      { url: '#what-is-nt', title: 'What is New Thought?' }
    ])
  %>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

  <div class="row pt" id="our-service">
    <div class="col-md-8 col-md-offset-2">
      <h3>Our Service</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>

  <div class="row pt" id="mission-vision">
    <div class="col-md-8 col-md-offset-2">
      <h3>Mission & Vision</h3>

      <h4>VISION:</h4>
       <p>
        We are a powerful spiritual community lovingly committed to a world of acceptance, compassion, peace and joy.
      </p>
      <p>
        One Spirit – One Community
      </p>



      <h4>MISSION:</h4>
      <p>
        Provide Spiritual tools for expanded living
      </p>
      <p>
        Create opportunities for connection and support
      </p>
      <p>
        Demonstrate gratitude and prosperity in all our activities
      </p>
      <p>
        Joyfully serve one another and our communities
      </p>

    </div>
  </div>

  <div class="row pt" id="what-is-nt">
    <div class="col-md-8 col-md-offset-2">
      <h3>What Is New Thought</h3>
      <p>
        New Thought Northern Colorado Center for Spiritual Living is a spiritual center honoring all paths and faith traditions.
      </p>
      <p>
        Wherever you are on your journey, you are welcome here. We are dedicated to teaching practical spirituality through principles that are positive, uplifting, and support self-empowerment and positive life change.
       </p>
      <p>
        We trust that God, The Universe, Spirit, your Higher Power, or what you choose to call it, supports the highest and greatest good for all. We believe that our thought creates our personal experience and that by changing the way we think, we can change our lives.
       </p>
      <p>
        If you like the teachings of: Abraham Hicks, Eckhart Tolle, Deepak Chopra, Wayne Dyer, or Oprah Winfrey’s Super Soul Sunday, you’ll be comfortable here. In our Sunday service, you might also hear readings from Ralph Waldo Emerson, Jesus, Marianne Williamson, The Dali Lama, Emma Curtis Hopkins, Mary Morrissey, Michael Beckwith, Brene Brown or Elizabeth Gilbert. We continue to learn from many teachers both contemporary and historical and we are guided by a New Thought philosophy developed by Ernest Holmes.
       </p>
      <p>
        In addition to study, we value meditation, service without the expectation of reward, understanding the balance of giving, receiving, asking and gratitude, and affirmative prayer. Rather than a prayer of supplication, an affirmative prayer seeks to amplify your desires and the highest good in your life.
       </p>
      <p>
        Come join us this Sunday and experience a community that values resources, participates in conscious social action, and believes in a renewed emphasis on beauty, nature, creativity, art and aesthetics. You’ve found the place that supports you spiritually.
      </p>
    </div>
  </div>
</div>
