<a href='https://www.freepik.com/free-vector/pink-and-orange-watercolor-stain-background_1111622.htm'>Designed by Freepik</a>



<h1>About us Page</h1>
<h4>SENIOR MINISTER – REVEREND BARBARA BUE</h4>
        <p>
          Rev. Barb is passionate about personal transformation and the power of individuals to change their lives by changing their minds.  She is a dynamic speaker whose messages are clear and heart-warming – listeners exclaim in recognition, nod in agreement and feel things deeply.
        </p>

