<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('globe.jpg')%>);">

      <div class="banner-heading">
        <h1>Be Of Service</h1>
      </div>
    </div>
  </div>
</div>

<div class="container center-sm">

  <%= render(
    'shared/secondary_navbar',
    items: [
      { url: '#pastoral-care', title: 'Pastoral Care' },
      { url: '#outreach', title: 'Community Outreach' },
      { url: '#volunteering', title: 'Volunteer' },
      { url: '#ways-to-give', title: 'Ways to Give' }
    ])
  %>

  <button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>

  <div class="row pt" id="pastoral-care">
    <div class="col-md-8 col-md-offset-2">
      <h3>Pastoral Care</h3>
      <p>
        The Love In Action team provides comfort and support to members of the NTNC congregation in the form of hospital visits, phone calls of support, cards for celebration or encouragement, meals for congregants and their families and other acts to aid those in need of support. If you would like to be part of the group that shows support to individuals from our congregation, contact Reverend Jenny: <a href="RevJenny@newthoughtnoco.org">RevJenny@newthoughtnoco.org</a>
      </p>
    </div>
  </div>
  <div class="row pt" id="outreach">
    <div class="col-md-8 col-md-offset-2">
      <h3>[Community] Outreach</h3>
      <p>
        Serving our broader community, NTNC outreach contributes time, talent or treasure to organizations such as Habitat for Humanity and FoCo Café. If you’d like to join the team that determines outreach projects and is often directly involved with determining the focus of support for NTNC, contact Reverend Jenny: <a href="RevJenny@newthoughtnoco.org">RevJenny@newthoughtnoco.org</a>
      </p>
    </div>
  </div>
  <div class="row pt" id="volunteering">
    <div class="col-md-8 col-md-offset-2">
      <h3>Volunteer</h3>
      <p>
        Are you willing to give time from your heart? Volunteering is sacred service and as a volunteer you can serve as little or as much as you are called to. New Thought Northern Colorado is always growing and expanding and so is The Volunteer Program.
      </p>
      <p>
        If you know of a way to serve that is not listed, contact our volunteer coordinator. Volunteers are the heart and soul of our Congregation. Volunteering is a way to connect and create community. Are you willing to give time from your heart?
      </p>
      <p>
        If you would like to volunteer, or you know of a way to serve that is not listed, contact our volunteer coordinator, Debra J Dawkins <a href="debraj@newthoughtnoco.org">debraj@newthoughtnoco.org</a>
      </p>
    </div>
  </div>
  <div class="row pt" id="ways-to-give">
    <div class="col-md-8 col-md-offset-2">
      <h3>Ways To Give</h3>
      <p>
        There are many ways to give to your Center and your community. From the Donate button at the top of the page you can:
      </p>
      <ul>
        <li>Make a contribution at any time </li>
        <li>Set up Auto-Tithe & Online Giving</li>
        <li>Tithe on unexpected or extra income</li>
        <li>Donate money to buy food for the community pantry- you may also bring non-perishable food items to the center</li>
      </ul>

      <h4>Tithing</h4>
      <p>
        The act of tithing (giving ten percent of your income to that which serves you spiritually) has been practiced throughout history in most faith traditions. Ten percent is enough so that no matter your income, it is not unbearable, and no matter your income it cannot be taken for granted.
      </p>
      <p>
        If you would like to discuss tithing, please contact our Office Administrator, Tawney Bass, to make an appointment with Rev Jenny or Rev Barb, <a href="info.newthoughtnoco@gmail.com">info.newthoughtnoco@gmail.com</a>
      </p>

      <h4>Give to NTNC without spending a penny!</h4>
      <p>
        At the King Soopers website, <a href="https://www.kingsoopers.com/" target='blank'>www.KingSoopers.com</a>, you can set up an account and connect your loyalty card to New Thought NOCO, and NTNC will receive a portion of the money that you spend every time you use your loyalty card.
      </p>
      <p>
        We have $5 gift cards to  Safeway available for purchase; you get to spend the $5, so it costs you nothing! Then all you need to do is reload your card at the register as needed before you begin your purchase of groceries/gas. Every time you reload the card, NTNC gets a percentage!
      </p>
      <p>
        When you order merchandise from Amazon, please
        use Amazon Smile --
        <a href="https://smile.amazon.com" target='blank'>https://smile.amazon.com</a>, and you can choose to have a portion of the sale go to Creative Center for Spiritual Living, which comes back to NTNC!
    </div>
  </div>
</div>
