<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('rainbow-flower.jpg')%>);">

      <div class="banner-heading">
        <h1>Be Of Service</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="navbar-sticky navbar-filters">
    <div class="sub-navbar-newthought-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu">
          <li><a href="#outreach-care">Community Outreach and Pastoral Care</a></li>
          <li><a href="#volunteering">Volunteering</a></li>
          <li><a href="#ways-to-give">Ways to Give</a></li>
          <li><a href="#grocery">Grocery Cards</a></li>
          <li><a href="#center-membership">Center Memebership</a></li>
        </ul>
      </div>
    </div>

    <a href="#outreach-care" class="hidden-xs hidden-sm"><h4>Community Outreach and Pastoral Care</h4></a>
    <a href="#volunteering" class="hidden-xs hidden-sm"><h4>Volunteering</h4></a>
    <a href="#ways-to-give" class="hidden-xs hidden-sm"><h4>Ways to Give</h4></a>
    <a href="#grocery" class="hidden-xs hidden-sm"><h4>Grocery Cards</h4></a>
    <a href="#center-membership" class="hidden-xs hidden-sm"><h4>Center Membership</h4></a>
  </div>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

  <div class="row pt" id="outreach-care">
    <div class="col-md-8 col-md-offset-2">
      <h3>Your Community</h3>
      <h4>PASTORAL CARE</h4>
      <p>
        The Love In Action team provides comfort and support to members of the NTNC congregation in the form of hospital visits, phone calls of support, cards for celebration or encouragement, meals for congregants and their families and other acts to aid those in need of support.
      </p>
      <h4>OUTREACH</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
  <div class="row pt" id="volunteering">
    <div class="col-md-8 col-md-offset-2">
      <h3>Volunteering</h3>
      <p>
        Volunteers are the heart and soul of our Congregation. Volunteering is a way to connect and create community.
      </p>
      <p>
        Are you willing to give time from your heart? Volunteering is sacred service and as a volunteer you can serve as little or as much as you are called to. New Thought Northern Colorado is always growing and expanding and so is The Volunteer Program.
      </p>
      <p>
        If you know of a way to serve that is not listed, contact our volunteer coordinator.
      </p>
      <p>
        Volunteer Coordinator: Debra J Dawkins  debraj@newthoughtnoco.org
      </p>
    </div>
  </div>
  <div class="row pt" id="ways-to-give">
    <div class="col-md-8 col-md-offset-2">
      <h3>Ways To Give</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
  <div class="row pt" id="grocery">
    <div class="col-md-8 col-md-offset-2">
      <h3>Grocery Cards</h3>
      <p>
       Scrip - Give to NTNC without spending a penny!
     </p>
     <p>
       Purchase a $5 gift card already loaded with $5 for use at King Soopers or Safeway stores (as well as many other stores.) Load money onto your gift card at the customer service desk or right at checkout with the cashier before you begin your purchase of groceries or gas.
     </p>
     <p>
       Every time you reload the card, NTNC gets a percentage from the store and the money adds up quickly – NTNC receives substantial checks nearly every month without you having to spend a cent.
     </p>
     <p>
       For information about how to purchase script speak to an usher at a Sunday morning service or contact: info@newthoughtnoco.org
      </p>
    </div>
  </div>
  <div class="row pt" id="center-membership">
    <div class="col-md-8 col-md-offset-2">
      <h3>Center Membership</h3>
      <p>
        Take an active role in our spiritual community by becoming a member at a level comfortable for you.
      </p>
      <h4>PARTICIPATION IS MEMBERSHIP</h4>
      <p>
        Our members are anyone who engages in our community. You can connect by coming to services, attending events, joining classes, and volunteering at the center. You can keep in touch by signing up for our Newsletter (emailed weekly), signing up for a name-tag, and finding a contribution level that is comfortable for you.
      </p>
      <p>
        There is nothing like finding a spiritual home and then stepping into a whole new awareness of your own journey while participating in community.
      </p>
      <h4>GENERAL MEMBER</h4>
      <p>
        General membership is open to everyone! Periodically we meet on Sundays, after service to explain New Thought Northern Colorado Center For Spiritual Living – a kind of NTNCCSL 101. To become a General Member, simply attend and make a commitment to participate in this joyous community.
      </p>
      <h4>OWNER MEMBER</h4>
      <p>
        Owner Members have taken steps to engage in their own spiritual growth, by taking the Foundations class, as well as participating in one other class. Owners are dedicated to the ongoing success of New Thought Northern Colorado, and to a deeper spiritual connection with their Center community. Owner members are voting members of the Center, casting votes for things like Core Council members, and receiving benefits like free classes. *
      </p>
      <p>
        You will find that Owner Members usually have an enlightened commitment to the five pillars of spiritual practice: Study, Service, Vision, Meditation, and all Owner Members practice Tithing (we call this being an investor, both in your community, and in your own spiritual practice with money.)
      </p>
      <p>
        *The cost for most continuing classes is waved for owner members (Books, supplies and speaker fees not included. Some fees may apply).
      </p>
        <h4>TITHING</h4>
      <p>
        The act of tithing (giving ten percent of your income to that which serves you spiritually) has been practiced throughout history in most faith traditions. Ten percent is enough so that no matter your income, it is not unbearable, and no matter your income it cannot be taken for granted. The first step to becoming a committed tither is to take a prosperity course.  You can find prosperity courses under class descriptions.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
