<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('globe.jpg')%>);">

      <div class="banner-heading">
        <h1>Be Of Service</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <%= render(
    'shared/secondary_navbar',
    items: [
      { url: '#outreach', title: 'Community Outreach' },
      { url: '#pastoral-care', title: 'Pastoral Care' },
      { url: '#volunteering', title: 'Volunteering' },
      { url: '#ways-to-give', title: 'Ways to Give' }
    ])
  %>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

  <div class="row pt" id="outreach">
    <div class="col-md-8 col-md-offset-2">
      <h3>Community Outreach</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
  <div class="row pt" id="pastoral-care">
    <div class="col-md-8 col-md-offset-2">
      <h3>Pastoral Care</h3>
      <p>
        The Love In Action team provides comfort and support to members of the NTNC congregation in the form of hospital visits, phone calls of support, cards for celebration or encouragement, meals for congregants and their families and other acts to aid those in need of support.
      </p>
    </div>
  </div>
  <div class="row pt" id="volunteering">
    <div class="col-md-8 col-md-offset-2">
      <h3>Volunteering</h3>
      <p>
        Volunteers are the heart and soul of our Congregation. Volunteering is a way to connect and create community.
      </p>
      <p>
        Are you willing to give time from your heart? Volunteering is sacred service and as a volunteer you can serve as little or as much as you are called to. New Thought Northern Colorado is always growing and expanding and so is The Volunteer Program.
      </p>
      <p>
        If you know of a way to serve that is not listed, contact our volunteer coordinator.
      </p>
      <p>
        Volunteer Coordinator: Debra J Dawkins  debraj@newthoughtnoco.org
      </p>
    </div>
  </div>
  <div class="row pt" id="ways-to-give">
    <div class="col-md-8 col-md-offset-2">
      <h3>Ways To Give</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
</div>
