<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('rainbow-flower.jpg')%>);">

      <div class="banner-heading">
        <h1>Inspiration Blog</h1>
      </div>
    </div>
  </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

<div class="container">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h4><%= post.title %></h4>
          <p><%= raw post.content %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Inspiration Blog Under Construction</h3>
        <p>Check Again Soon</p>
      </div>
    </div>
  <% end %>
</div>
