<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('rainbow-heart.jpg')%>);">

      <div class="banner-heading">
        <h1>Donate</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="donate">
      <h3>Make an Online Donation</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <div id="breeze_giving_embed" data-subdomain="ntnc"></div>
      <script src="https://www.breezechms.com/js/give.js"></script>
    </div>
  </div>
</div>
