    <div class="container page-container">
      <h1>Who We Are</h1>

      <h3 id="ministers">Ministers</h3>
      <d  <iv>
      </d>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <h4>SENIOR MINISTER – REVEREND BARBARA BUE</h4>
        <p>
          Rev. Barb is passionate about personal transformation and the power of individuals to change their lives by changing their minds.  She is a dynamic speaker whose messages are clear and heart-warming – listeners exclaim in recognition, nod in agreement and feel things deeply.
        </p>
        <p>
          Rev Barb is an effective and engaging teacher; she supports your dream, encourages you to know it for yourself, challenges your limiting ideas, and she’ll ask you to do the work to have the life you’d love. She wants everyone to embrace his or her gifts and SHARE THEM! Barb believes that transforming individual lives is the step to transforming the planet into a world that works for everyone.
        </p>
        <p>
          Believing the Divine does great work through humor, she really wants to make you laugh and grow.  “Spiritual growth should be exciting-not scary,” (Reverend Barb Bue.) “One of her greatest qualities is that she can help people see their own potential and guide without judgment,” (Student.)
        </p>
        <p>
          Barb graduated from ministerial school in 2007 after spending a year as an interim minister in Greeley.  She stayed on as Senior Minister because she fell in love with the congregation.  She served as Senior Minister in Greeley for 7 years until 2016 when she stepped into a new position as Senior Minister of New Thought No CO, a merger of two churches, three congregations and the opening of a new spiritual home in Loveland where everyone is welcome. Welcome home.
        </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
      <h4>ASSISTANT MINISTER – JENNY ILLIG </h4>

      <p>
        Rev. Jenny is passionate about people and living Life with joy, peace and love. She loves teaching New Thought philosophy to others so they may change their lives and the world for the better.
        </p>
        <p>
        After a lifetime of searching, Rev. Jenny found a spiritual philosophy that resonated with her personal beliefs about a loving God and she found her spiritual home in 2007 in the New Thought teachings of Ernest Holmes.
        </p>
        <p>
        The teachings and practice of this philosophy radically changed her life for the better by giving her a different way to view life, and how it works as well as the tools to create a fabulous life of her own design rather than one that just showed up by default.
        </p>
        <p>
        Rev. Jenny became a licensed Practitioner of Religious Science in 2011.  She received a clear message to pursue ministry and entered the Holmes Institute, graduating with a Master’s in Consciousness Studies in 2015.
        </p>
        <p>
        She served as Staff Minister at Whole Life Center for Spiritual Living until January of 2016, when through the merger of Whole Life and Creative Center for Spiritual Living, she joined New Thought Northern Colorado Center for Spiritual Living where she joyfully serves as Assistant Minister.
      </p>

      <h3 id="practitioners">Practitioners</h3>
      <p>
        Spiritual Practitioners are prayer partners who provide loving and prayerful support both in challenging times and for the realization of your dreams.  They are dedicated to knowing your Oneness with God.  They will help you use spiritual principles, meditation, visioning and spiritual treatment (affirmative prayer), to make positive changes in your life.
      </p>
      <p>
        Our Practitioners are licensed to practice professionally by Centers for Spiritual Living.  They have completed extensive coursework, passed written and oral examinations, and have actively demonstrated their understanding of New Thought principles.  They are committed to their personal spiritual practice and to service in our NTNC community.
      </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <h4>JALEIN ARNOLD, RSCP</h4>
      <p>
        Jalein Arnold followed New Thought teaching for more than thirty years, in both Unity and Science of Mind.  She became a Practitioner in 2015 and served on the Core Council and as Visioning Chair for several years.  She and her husband live in Greeley with their two cats.  She is retired and works part-time in Senior Peer Counseling and she has experience working with recovery from addictions and grief.
      </p>
      <p>
        She knew when I came to this Center that she had found her spiritual home and family.  “What a joy to be in community with like-minded people!”  She knows that her purpose is to serve and be helpful in any way she can.  God consciousness guides her, Divine Love connects her with others, and faith sustains her.  She values unconditional acceptance, freedom from judgment, mindfulness, and honesty.
      </p>
      <p>
        Her passion is Visioning- for NTNC, groups and individuals.  Visioning is a spiritual practice that opens one’s connection with Spirit and seeks Divine Guidance regarding one’s calling and/or a specific aspect of life.  We all envision what we want in life.  Visioning goes deeper by asking for God’s highest idea of our good.
      </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <h4>KELLI BAKER, RSCP</h4>
      <p>
        Kelli Baker is a Kansas City, Missouri, native and has been a member of the Centers for Spiritual Living community since 2012. Kelli retired from the US Army as a Sergeant First Class, has a Bachelor degree in Business Management and a Master degree in Human Nutrition and Functional Medicine. She often visited the Rocky Mountains with her family as a child and knew this is where she wanted to live. Kelli is married and lives on a farm with her chickens, cat (Dax) and dog (Roscoe).
      </p>
      <p>
        Kelli became a Science of Mind Practitioner in 2017 and finds joy in improving lives through prayer and service. Kelli’s favorite motto is a quote attributed to Ghandi, “be the change” and she uses this as her motivation to continually grow. She uses the teaching of Ernest Holmes to bring love, hope and happiness to those who seek more vibrant lives.
      </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <h4>JONIE CARSON, RSCP</h4>
      <p>
        Jonie often sighs, “Life is good.” and is quite amazed by the way that Life flows and how seemingly random experiences really are (with hind sight/true sight) God’s perfection in action.
      </p>
      <p>
        Jonie grew up in rural Nebraska (go Huskers!) on a farm. It was a very peaceful upbringing, with time spent reading, on horseback, climbing in the trees by the river, tending to a huge garden or “putting up” the fruits and veggies that came from said garden. Today, she and her husband, Matt, have a small acreage and enjoy working on the property and growing beautiful flowers. New Thought philosophy has brought her tools to access that peace even when she is not in the immediate surroundings of nature.
      </p>
      <p>
        Jonie found New Thought by going to church with a friend she was visiting for the weekend. She then pursued finding a New Thought church in her area. She has attended several different New Thought churches as she moved around the country teaching elementary school. In time, she settled into the Creative Center for Spiritual Living community in Greeley and jumped into taking the abundance of classes that are offered through CSL. Eventually the growth that she was experiencing in the classes led to the pursuit of becoming a practitioner. She is very blessed to serve the New Thought Northern Colorado community in this role. Mindfulness techniques to enhance our ability to live well and thrive is one of her main spiritual interests.
      </p>
      <p>
        Jonie’s other activities and interests are varied. She has been a teacher in the public schools for 22 years, serving diverse populations and specializing on supporting students who speak more than one language. She is fluent in Spanish and has enjoyed learning the language and traveling to Spanish speaking countries to enrich her fluency. Often, she can be found curled up reading (or cleaning up the many piles of books around the house). One of her most sacred goals is a lifelong openness to and enjoyment of learning new things.
      </p>

      <h3 id="core-council">Core Council</h3>
      <p>
        Core Council is the name that we have given our Board of Trustees. They are responsible for overseeing the financial health and wellbeing of the Center. These are elected two-year positions. Current members are listed below.
      </p>

      <ul>
        <li>Debra J – President</li>

        <li>Chuck Bloser – Treasurer</li>

        <li>JoAnn Grosswiller – Secretary</li>

        <li>Mike Callan</li>

        <li>onie Carson</li>J

        <li>David Lynn</li>

        <li>Doug Rogers</li>
      </ul>

      <h3 id="staff">Staff</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <h4>DEBRA J DAWKINS – VOLUNTEER COORDINATOR / FACILITIES MANAGER</h4>
      <p>
        As Volunteer Coordinator Debra J oversees the volunteer program and supports the team leaders. She is the liaison and communicator between all the volunteer team leaders and Minister. She assists leadership teams when they need volunteers for special projects and events and she ensures the Health and Vibrancy of the Volunteer Program by focusing on the purpose of New Thought NoCo to “Love everybody up.”
      </p>
      <p>
        Debra J makes sure New Thoughts Building is in perfect operating order.  From hanging banners, creating chalk boards, building doorways or changing filters, Debra J gets the job done as New Thought NoCo’s Building Supervisor.
      </p>
      <p>
        Debra J serves as Co-President on the Core Council and will finish her training to be a practitioner this spring. In her spare time she enjoys concerts at Red rocks Amphitheater, working in her yard, and taking road trips and watching movie marathons with her son.  Debra J is a Cosmetologist by trade.  Dedication and loyal best describes Debra J.
      </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <h4>AMBER DAVIDSON – DIRECTOR OF DEVELOPMENT / DIRECTOR OF MUSIC</h4>
      <p>
        Amber has led operations, fundraising and constituent engagement for churches and non-profit organizations and has directed celebrity speaking and performing events for thousands of attendees, orchestrated volunteer engagement activities, and run highly successful fundraising auctions and events.
      </p>
      <p>
        She was COO of a non-profit organization building self-esteem for women and girls and the owner of three businesses. She founded the Carolers Inc. talent agency specializing in holiday entertainment and the Towne & Lamplight Carolers, which would grow to become the largest caroling company in California. She owned and managed a boutique rental company offering elaborate theatrical, historical, and cultural costumes and couture vintage fashion and she had a successful private studio where she taught voice and speech.
      </p>
      <p>
        Amber has served as professional music director, choir conductor, and/or singer for many denominations of church, spiritual center and synagogue. Adept in multiple musical styles, Amber was a principal member of Opera A La Carte (professional national touring opera company,) an award-winning oratorio and concert soloist, a musical theater actress, a rhythm and blues back-up singer, and a New Age ensemble singer.
      </p>

    </div>
  </div>
