<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('venue.jpg')%>);">

      <div class="banner-heading venue-heading">
        <h1>Rent Our Space</h1>
      </div>
    </div>
  </div>
</div>

<div class="container center-sm">
  <div class="row tc">
    <h3 class="pt">&middot; Yoga &middot; Dancing &middot; Trade Shows &middot; Weddings &middot; Banquets &middot; Conferences &middot; Concerts &middot;</h3>
  </div>

  <div class="row pt">

    <div class="col-sm-6 col-md-3 col-md-offset-1">
      <%= image_tag 'venue1.jpg', class: 'img-responsive' %>
    </div>

    <div class="col-sm-6 col-md-7 venue-col">
      <p>
        The perfect venue for all of your events is conveniently located in the center of Northern Colorado.  Located on the I-25 corridor in the Outlet Mall at Loveland, in close proximity to all of Northern Colorado, the Front Range, Denver, and Wyoming. This venue is a fresh, new, clean event center built in 2016, wheelchair accessible inside and out with more than ample parking.
      </p>
      <p>
        The Auditorium is 4,000 square feet of open space, and can accommodate up to 300 people in theater style seating.  Tables of 8-10 are also available.
      </p>
    </div>
  </div>
  <div class="row pt">
    <div class="col-sm-6 col-md-3 col-md-offset-1">
      <%= image_tag 'venue3.jpg', class: 'img-responsive' %>
    </div>

    <div class="col-sm-6 col-md-7 venue-col">
      <p>
        The Event Center features a large stage, projector and screen, excellent sound system, multiple microphones, and a grand piano – all of which can be made available during your special event.
      </p>
      <p>
        In addition to the Auditorium, the Center offers smaller spaces for groups of 2 to 50 people for meetings, counseling, and classes. Most meeting rooms feature presentation screens, and/or white boards, and there are private rooms available.
      </p>
    </div>
  </div>
  <div class="row pt">
    <div class="col-sm-6 col-md-3 col-md-offset-1">
      <%= image_tag 'venue2.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-sm-6 col-md-7 venue-col">
      <p>
        The Zen Room was created for tranquility. It is a private space for counseling, coaching, and hypnotherapy in a more intimate atmosphere.
      </p>
      <p>
        We also have three rooms that are set up for children, making the event center a perfect place for a mom’s group, birthday party, or kid’s camp. These classrooms transform into multi use rooms for crafting or arts.
      </p>
    </div>
  </div>
  <div class="row">
    <div>
      <h4 class="pt tc">
        <strong>Arrange a tour of our special event center or send inquiries via email to: <a href="mailto:info@newthoughtnoco.org" class="foot-email"> info@newthoughtnoco.org</a></strong>
      </h4>
  </div>
  </div>
</div>
