<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('youth.jpg')%>);">

      <div class="banner-heading">
        <h1>Youth</h1>
      </div>
    </div>
  </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>

<div class="container center-sm">

  <div class="row pt" id="youth-program">
    <div class="col-md-8 col-md-offset-2">
      <h2>Youth Program</h2>
      <p>
        The Youth Program at New Thought Northern Colorado is an open and accepting community for children of all ages.
      </p>
      <p>
        We teach our kids that they are unique and important, loved and honored, valued and Divine.
      </p>
        Each week, lessons are thoughtfully prepared by our teachers to ensure that individual needs are being met through meditation, mindful movement, music, games, discussion, art activities and projects.
      </p>
      <p>
        We value each child and appreciate them for who they are, right where they are. We encourage thinking, questioning and growth. We nurture our kid's creativity and individuality, while guiding them to answer big questions for themselves.
      </p>
      <p>
        NTNC teaches our Youth that God/Spirit/Creator is always available and abundant, that they are created in perfection. Goodness is in each and every one of us, we are the faces and hands of God.
      </p>
    </div>
  </div>

  <div class="row pt" id="youth-program">
    <div class="col-md-8 col-md-offset-2">
    <div class="banner" style="background-image: url(<%= image_path('youth-group.jpg')%>);">
    </div>
  </div>
</div>
  <div class="row pt" id="youth-staff">
    <div class="col-md-8 col-md-offset-2">
      <h2>Youth Staff</h2>
      <h4>BROOKE MINKEL – YOUTH DIRECTOR</h4>

      <%= image_tag 'practitioners/brooke-minkel.png', class: 'img-youth-staff' %>

      <p>
        In addition to being a Practitioner at NTNC, Brooke is also the Youth and Family Director, and teaches on Sunday mornings. She graduated with a K6 Teaching Certification, and a BS in Human Communication, from the University of Northern Colorado and has been teaching in Northern Colorado since 2001.
      </p>
      <p>
        Brooke loves lesson planning and developing curriculum to educate kids about how amazing they are. She encourages each child to love being themselves, and does this through meditation, music, movement and activities. Brooke creates connections with every child in order to individualize the lesson plans, and meet specific needs.
      </p>
      <p>
        Brooke is also an Independent Facilitator for the Love and Logic Institute, and teaches workshops throughout Northern Colorado designed for educators and parents.
      </p>
      <p>
        Brooke designed and organizes Camp Creative, a week long experience for ages 5-12 that includes art projects, song writing, creative movement, science, crafts, yoga, a hip hop dance workshop, games and more. The week culminates with a picnic for the campers and their families.
      </p>
      <p>
        Originally from Denver, Brooke now lives in Evans with her husband Matt and two daughters, Kory and Amaya.
      </p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h4>BONNIE JOSLYN – YOUTH TEACHER</h4>

      <%= image_tag 'youth-staff/bonnie-joslyn.jpg', class: 'img-youth-staff' %>
      <p>
        Bonnie Joslyn is the mother of two homeschooled toddlers. Her background is in special education and, prior to motherhood, she worked mainly with pre-K aged children with autism.
      </p>
      <p>
        She’s always believed that investing in our children, and in their education is an essential part of improving our society and preserving our world. With that in mind, she became a teacher - and came to learn through the children she taught - that a big part of that education should be obtaining spiritual oneness, and teaching kids that positive thoughts and actions will yield positive results.
      </p>
      <p>
        She moved from Ft. Lauderdale, Florida to the beauty of Colorado's landscape, and its open-minded people. Though new to Science of Mind, she feels that its philosophies have always been a part of her life, and she is excited to learn more. She feels fortunate to have found a new home here in Colorado and a family in the New Thought community.
      </p>
    </div>
  </div>
</div>
