
.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-sb .form-group {
  width: 50%;
}

.registration_email, .registration_last_name{
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .flex-sb {
    display: block;
  }

  .flex-sb .form-group {
    width: 100%;
  }

  .registration_email, .registration_last_name{
    margin-left: 0;
  }
}
