.footer-links .fa {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer{
  a {
  color: white;
  }
 p {
  color: white;
  font-weight: lighter;
  margin: 0;
 }
}

.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 43px;
  padding: 40px;
  margin-top: 50px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a:hover {
  color: $blue;
  text-decoration: none;
}
.foot-phone{
  font-size: 1em;
  font-weight: lighter;
  margin-left: 1em;
}

.yam-footer{
  display: flex;
  align-items: center;
  img{ height: 30px;}
}



@media screen and (max-width: 780px){
  .footer{
    p{
    font-size: small;
    text-align: center;
    }
    .fa{
      font-size: 23px;
      margin-bottom: 7px;
    }
    .footer-links{
      display: block;
      margin-left: -20px;
    }
  }

  .foot-phone{
    margin: 0;
    display: block;
  }
}

