.footer-links .fa {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px 0 0;
}


.footer {
  a {
  color: white;
  }
 p {
  color: white;
  margin: 0;
 }
}

.footer-links {
  width: 100%;
}

.footer-contact {
  display: flex;
}

.contact-details {
  margin: 11px 50px;
  font-size: 17px;
  font-weight: lighter;
}

.footer {
  background: black;
  padding: 23px 70px;
  color: white;
  margin-top: -6px;
  width: 100%;
  h6 {
    font-size: 23px;
    color: $blue;
  }
}

.footer-email {
  margin: 10px 0;
}

.footer a:hover, .footer a:focus {
  color: $blue;
  text-decoration: none;
}

.footer-admin {
  margin-left: auto;
}

.yam-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.53);
  padding-top: 5px;
  margin-top: 5px;
  img { height: 30px;}
}

@media screen and (max-width: 780px) {
  .footer-admin {
    display: none;
  }
}

@media screen and (max-width: 695px) {
  .footer-contact {
    display: block;
  }

  .footer {
    text-align: center;
    padding: 23px 10px;
  }

  .contact-details {
    margin: 11px 0;
  }
}

@media screen and (max-width: 450px) {
  .contact-details {
    font-size: 13px;
  }
}
