.footer-links .fa {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px 0 0;
}


.footer{
  a {
  color: white;
  }
 p {
  color: white;
  margin: 0;
 }
}

.footer-links {
  width: 100%;
}

.footer-contact{
  display: flex;
}

.contact-details{
  margin: 11px 50px;
  font-size: 17px;
  font-weight: lighter;
}

.footer {
  background: black;
  padding: 23px 70px;
  color: white;
  margin-top: -6px;
  width: 100%;
  h6{
    font-size: 23px;
    color: $blue;
    }
}

.footer-email{
  margin: 10px 0;
}

.footer a:hover, .footer a:focus {
  color: $blue;
  text-decoration: none;
}

.footer-admin{
  margin-left: auto;
}

.yam-footer{
  border-top: 1px solid rgba(255, 255, 255, 0.53);
  padding-top: 5px;
  margin-top: 5px;
  img{ height: 30px;}
}



@media screen and (max-width: 780px){
  .footer{
    p{
    font-size: small;
    text-align: center;
    }
    .fa{
      font-size: 23px;
      margin-bottom: 7px;
    }
    .footer-links{
      display: block;
      margin-left: -20px;
    }
  }

  .foot-phone{
    margin: 0;
    display: block;
  }
}

